Template_Mestre.json
{
  "name": "Template Z-API",
  "nodes": [
    {
      "parameters": {
        "content": "## Formatos Base64\nBase64 é uma forma de codificar dados binários como texto. Dependendo do tipo de arquivo, os prefixos variam para indicar o formato do dado. Aqui estão alguns dos formatos mais comuns com os respectivos prefixos base64:\n\n### 1. **Imagem**\n   - **PNG**: `data:image/png;base64,`\n   - **JPEG**: `data:image/jpeg;base64,`\n   - **GIF**: `data:image/gif;base64,`\n   - **SVG**: `data:image/svg+xml;base64,`\n   - **BMP**: `data:image/bmp;base64,`\n   \n### 2. **Áudio**\n   - **MP3**: `data:audio/mp3;base64,`\n   - **WAV**: `data:audio/wav;base64,`\n   - **OGG**: `data:audio/ogg;base64,`\n   - **MPEG**: `data:audio/mpeg;base64,`\n\n### 3. **Vídeo**\n   - **MP4**: `data:video/mp4;base64,`\n   - **OGG**: `data:video/ogg;base64,`\n   - **WebM**: `data:video/webm;base64,`\n\n### 4. **Texto**\n   - **Plain Text**: `data:text/plain;base64,`\n   - **HTML**: `data:text/html;base64,`\n   - **CSS**: `data:text/css;base64,`\n   - **JavaScript**: `data:text/javascript;base64,`\n   - **CSV**: `data:text/csv;base64,`\n\n### 5. **Documentos**\n   - **PDF**: `data:application/pdf;base64,`\n   - **JSON**: `data:application/json;base64,`\n   - **ZIP**: `data:application/zip;base64,`\n   - **XML**: `data:application/xml;base64,`\n\nEsses são exemplos de prefixos que podem ser usados ao incluir dados base64 em documentos ou aplicações.",
        "height": 1166,
        "width": 593,
        "color": 7
      },
      "id": "f615db08-a70c-4964-97c0-252a03360f90",
      "name": "Sticky Note15",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3360,
        1560
      ]
    },
    {
      "parameters": {
        "content": "## MimeTypes\nO Mime type é o mecanismo para especificar o tipo de documento.\nA estrutura de um MIME type é muito simples; Consiste de um tipo e um subtipo, separados por um '/', onde nenhum espaço é permitido. \nO tipo representa a categoria. \nO subtipo é específico para cada tipo.\n\n### 1. **image**\nRepresenta qualquer tipo de imagens\n- image/gif\n- image/png\n- image/jpeg\n- image/bmp\n- image/webp\n   \n\n### 2. **audio**\nRepresenta qualquer tipo de arquivo de audio\n- audio/midi\n- audio/mpeg\n- audio/webm\n- audio/ogg\n- audio/wav\n- audio/mp3\n- audio/mp4\n\n### 3. **video**\nRepresenta qualquer tipo de arquivo de video\n- video/webm\n- video/ogg\n- video/mp4\n\n### 4. **text**\nRepresenta qualquer documento que contenha texto\n- text/plain\n- text/csv\n- text/html\n- text/css\n- text/javascript\n\n### 5. **application**\nRepresenta qualquer tipo de dados binários.\n- application/octet-stream\n- application/pkcs12\n- application/vnd.mspowerpoint\n- application/xhtml+xml\n- application/xml\n- application/pdf3",
        "height": 1166,
        "width": 593,
        "color": 7
      },
      "id": "67113785-a9f5-49b0-9926-2b7b950c3eac",
      "name": "Sticky Note16",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4000,
        1560
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "bc64f125-d93c-4d1d-97ae-65c0adb08b79",
                    "leftValue": "={{ $('Webhook').item.json.body.text.message }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "137aec3f-e95e-4d59-b9ba-1140f9fc4fb4",
                    "leftValue": "={{ $('Webhook').item.json.body.audio.audioUrl }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.image.imageUrl }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "40b284c8-fdf7-49e5-9ac3-8c5051f51521"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "imagem"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "7babc8fd-200c-4cb8-bc63-f999f57d5217",
                    "leftValue": "={{ $('Webhook').item.json.body.document.mimeType }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Outro"
        }
      },
      "id": "af04aa69-6efc-47b4-ae4b-332442924983",
      "name": "Switch1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.1,
      "position": [
        -1760,
        800
      ],
      "notesInFlow": true,
      "notes": "Ajustar condições para cada tipo de mensagem a depender da sua entrada de dados\n\nTEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "=data",
        "options": {
          "language": "pt"
        }
      },
      "id": "56ef9ae0-fef2-42a6-8821-d370e8a84dbe",
      "name": "Transcrever Áudio1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        -1060,
        660
      ],
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "Fsp9QkVtvfl2ZEhB",
          "name": "OpenAi account NoCode"
        }
      },
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "=#Instruções\nO usuário te enviou uma imagem a qual você deve descrever.\n\nA imagem pode vir acompanhada de uma mensagem de texto (<MensagemUsuario>)\n\nCaso venha, utilize a mensagem anexa como contexto extra, tente capturar o sentimento da mensagem e objetivo pelo qual o usuário esteja enviando esta imagem na conversa.\n\nCrie uma resposta descrevendo as informações enviadas para que estas sejam utilizadas por um agente no futuro.\n\nLembre-se:\nEste agente apenas terá as informações que você fornecer, portanto repasse toda informação que julgar importante.\n\n#Dados\n<MensagemUsuario>\n{{ $json.MensagemImagem }}\n</MensagemUsuario>\n",
        "imageUrls": "={{ $json.Imagem }}",
        "options": {}
      },
      "id": "aec6b632-3ba8-4f3c-bd70-c121020b5af7",
      "name": "OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        -1280,
        840
      ],
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "Fsp9QkVtvfl2ZEhB",
          "name": "OpenAi account NoCode"
        }
      },
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "options": {
          "temperature": "={{ $('Parametros Fluxo').item.json.ModeloTemperatura }}"
        }
      },
      "id": "27b33b27-fe6e-4375-9fb7-6800b6b6390e",
      "name": "OpenAI Chat Model2",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        2160,
        1000
      ],
      "credentials": {
        "openAiApi": {
          "id": "Fsp9QkVtvfl2ZEhB",
          "name": "OpenAi account NoCode"
        }
      },
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "amount": "={{ $('Parametros Fluxo').item.json.EsperaBuffer }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -260,
        840
      ],
      "id": "6ea746a8-8fe6-4866-b070-90f34e6423bd",
      "name": "Wait1",
      "webhookId": "84b05b68-c282-4dfa-a9d0-dfaeb6669d60",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1bd6c365-d077-4284-9dfe-94db1cbe39bd",
              "leftValue": "={{ $('Buffer 3').item.json.messages.last() }}",
              "rightValue": "={{ $('Buffer ').item.json.messages.last() }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        180,
        840
      ],
      "id": "6e1bc5e1-c068-470a-86b1-1d424bbaeedb",
      "name": "ComparandoMensagens1",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "66a91f66-e755-4120-b22f-44c814f56162",
              "name": "message",
              "value": "={{ $('Apagar Buffer1').item.json.messages.join('\\n\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        740,
        740
      ],
      "id": "d3d0496f-de96-4908-b099-7b8847b7c6bc",
      "name": "Mensagem1",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "Leads",
        "filters": {
          "conditions": [
            {
              "keyName": "id_conversa",
              "keyValue": "={{ $('Dados Lead').item.json.IdConversa }}"
            }
          ]
        }
      },
      "id": "1fd19de2-a1c1-44de-bfc6-e9ce364852cc",
      "name": "Encontrar Cliente1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1140,
        740
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "jZScH1p5NotKZ32R",
          "name": "Supabase account"
        }
      },
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "3419c30f-4400-401b-bf40-db1579507f96",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "78e89ebd-3657-4ad1-9d04-6544ced41e90",
      "name": "Cliente Existe?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        1360,
        740
      ],
      "alwaysOutputData": false,
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "tableId": "Leads",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "nome",
              "fieldValue": "={{ $('Dados Lead').item.json.LeadNome }}"
            },
            {
              "fieldId": "id_conversa",
              "fieldValue": "={{ $('Dados Lead').item.json.IdConversa }}"
            }
          ]
        }
      },
      "id": "e4e57782-5e2b-4f58-ad9c-cfe1856b6912",
      "name": "Criar Cliente1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1580,
        880
      ],
      "credentials": {
        "supabaseApi": {
          "id": "jZScH1p5NotKZ32R",
          "name": "Supabase account"
        }
      },
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {},
      "id": "2a94df50-50ca-4a92-a5da-4d61ba4f933b",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1800,
        740
      ],
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "messages",
        "key": "={{ $('Dados Lead').item.json.IdConversa }}_buffer",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -480,
        840
      ],
      "id": "854e51ee-e9c7-4dc1-95c0-79cb13135495",
      "name": "Buffer ",
      "credentials": {
        "redis": {
          "id": "nxHHtxVsV0LA34S9",
          "name": "Upstash NoCode StartUp"
        }
      },
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "messages",
        "key": "={{ $('Dados Lead').item.json.IdConversa }}_buffer",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -40,
        840
      ],
      "id": "03594214-4572-4484-9f72-ca846cdbf473",
      "name": "Buffer 3",
      "credentials": {
        "redis": {
          "id": "nxHHtxVsV0LA34S9",
          "name": "Upstash NoCode StartUp"
        }
      },
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Dados Lead').item.json.IdConversa }}_buffer",
        "messageData": "={{ $json.Texto }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -760,
        480
      ],
      "id": "1dc3a3e9-c4b6-4aa2-b347-2a0e58ce0f32",
      "name": "Add Texto Buffer1",
      "retryOnFail": false,
      "executeOnce": false,
      "credentials": {
        "redis": {
          "id": "nxHHtxVsV0LA34S9",
          "name": "Upstash NoCode StartUp"
        }
      },
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Dados Lead').item.json.IdConversa }}_buffer"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        400,
        740
      ],
      "id": "24d4cff7-b1bb-470a-a1a5-c9c019f75bea",
      "name": "Apagar Buffer1",
      "credentials": {
        "redis": {
          "id": "nxHHtxVsV0LA34S9",
          "name": "Upstash NoCode StartUp"
        }
      },
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Mensagem1').item.json.message }}",
        "options": {
          "systemMessage": "=# Instruções\nVocê é um agente de suporte e vendas da NoCode StartUp, um ecossistema de ensino de tecnologias IA e NoCode, com formações, comunidade e hub de contratações de profissionais, com grande foco na criação de Agentes de Inteligência Artificial.\nAdicione emojis em suas respostas.\n\n# Restrições\n- Adapte o fluxo da conversa conforme as necessidades do usuário, porém evite responder perguntas fora do seu papel, atenha-se a suas <instruções> e função;\n- Nunca invente informações, atenha-se apenas as suas informações fornecidas;\n- Responda apenas com informações que você sabe e tem certeza;\n- Responda o usuário no idioma que ele estiver falando;\n- Nunca envie links coletados da base vetorial;\n\n# Variáveis\nData atual: {{ $now }}\n\n  <ContextoImagem>\nDados entre os parâmetros <ContextoImagem></ContextoImagem> são imagens enviadas pelo usuário que foram pré processadas e detalhadas por uma IA  para que você as entenda.\n\n  <ContextoPDF>\nDados entre os parâmetros <ContextoPDF></ContextoPDF> são arquivos PDF enviados pelo usuário que foram pré processadas e transcritos por uma IA  para que você as entenda.\n\n  <ErroFormatoMensagem>\nO usuário enviou um formato de mensagem que não podemos processar. \nCaso seja a única mensagem enviada, diga ao usuário que não entende esse tipo de mensagem.\n\n\n# Contexto Extra"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        2260,
        740
      ],
      "id": "f8aac0b7-8aa0-4194-8454-cca4fd966265",
      "name": "AI Agent1",
      "retryOnFail": true,
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "24aa4532-80db-4c1e-977a-0036b82a8e5f",
              "leftValue": "={{ $('Webhook').item.json.body.isEdit }}",
              "rightValue": "false",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "204f54b0-e3ed-4ff4-8302-8c20d3b8aa78",
              "leftValue": "={{ $('Webhook').item.json.body.isGroup }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "130cc493-a17a-4cc1-955b-816799583076",
              "leftValue": "={{ $('Webhook').item.json.body.isNewsletter }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "c51986d9-f347-4198-89bb-9e4cd0f021c9",
              "leftValue": "={{ $('Webhook').item.json.body.broadcast }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "ac9c4286-34d7-4058-9bbb-985bd9c2b6e7",
              "leftValue": "={{ $('Webhook').item.json.body.fromApi }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1fb13aaf-3dee-40e2-ad37-56df8beb744b",
      "name": "Filtro Inicial1",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.1,
      "position": [
        -3100,
        820
      ],
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1ce011b-bd95-468e-863e-f2076f644cf9",
              "name": "Texto",
              "value": "={{ $('Webhook').item.json.body.text.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1540,
        480
      ],
      "id": "82e144f1-6f12-47ad-9634-3ad53be8a1bc",
      "name": "Mensagem Texto1",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5efc6961-1ff7-4ef2-a772-7e9761592a3e",
              "name": "Audio",
              "value": "={{ $('Webhook').item.json.body.audio.audioUrl }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1540,
        660
      ],
      "id": "37e9145f-8ec8-46a6-b74c-0707c06be126",
      "name": "Mensagem Audio1",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5efc6961-1ff7-4ef2-a772-7e9761592a3e",
              "name": "Imagem",
              "value": "={{ $('Webhook').item.json.body.image.imageUrl }}",
              "type": "string"
            },
            {
              "id": "f5c70ab5-7671-4bc8-9d23-65b8954ddb08",
              "name": "MensagemImagem",
              "value": "={{ $('Webhook').item.json.body.image.caption }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1540,
        840
      ],
      "id": "c3df59bf-c713-4757-b741-a75c812cd017",
      "name": "Mensagem Imagem1",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Dados Lead').item.json.IdConversa }}_buffer",
        "messageData": "={{ $json.text }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -760,
        660
      ],
      "id": "a6ea9af1-db33-4741-88ad-681c97ec104d",
      "name": "Add Audio Buffer1",
      "retryOnFail": false,
      "credentials": {
        "redis": {
          "id": "nxHHtxVsV0LA34S9",
          "name": "Upstash NoCode StartUp"
        }
      },
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Dados Lead').item.json.IdConversa }}_buffer",
        "messageData": "={{ $json.Erro }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -760,
        1220
      ],
      "id": "45a7a97a-030f-4a83-a5ce-a664831660ee",
      "name": "Add Error Buffer1",
      "retryOnFail": false,
      "credentials": {
        "redis": {
          "id": "nxHHtxVsV0LA34S9",
          "name": "Upstash NoCode StartUp"
        }
      },
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1060,
        1040
      ],
      "id": "50aad433-a517-4cf4-8527-21ff895d61f6",
      "name": "Extract from File",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "11dc126a-e72e-431b-8db5-c78168c69439",
              "name": "Erro",
              "value": "<ErroFormatoMensagem>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1540,
        1220
      ],
      "id": "3f0d3da7-0464-4bf5-87d4-2662be05b38f",
      "name": "Mensagem Erro1",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Dados Lead').item.json.IdConversa }}_buffer",
        "messageData": "=<ContextoPDF>\n  <TranscricaoPDF>\n{{ $json.text }}\n  </TranscricaoPDF>\nContexto Extra: O usuário encaminhou a mensagem a seguir junto ao PDF.\n  <MensagemUsuario>\n{{ $('Mensagem Documento PDF').item.json.MensagemDocumento }}\n  </MensagemUsuario>\n</ContextoPDF>",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -760,
        1040
      ],
      "id": "5b5a09a4-ce3e-44fe-ad4e-ae4145cb306d",
      "name": "Add PDF Buffer1",
      "retryOnFail": false,
      "credentials": {
        "redis": {
          "id": "nxHHtxVsV0LA34S9",
          "name": "Upstash NoCode StartUp"
        }
      },
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Dados Lead').item.json.IdConversa }}_buffer",
        "messageData": "=<ContextoImagem>\n\n  <DetalheImagem>\n{{ $json.content }}\n  </DetalheImagem>\n\nContexto Extra: O usuário encaminhou a mensagem a seguir junto á imagem.\n  <MensagemUsuario>\n{{ $('Mensagem Imagem1').item.json.MensagemImagem }}\n  </MensagemUsuario>\n\n</ContextoImagem>",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -760,
        840
      ],
      "id": "16874d1c-0049-4e4e-930f-a17f23853e50",
      "name": "Add Imagem Buffer1",
      "retryOnFail": false,
      "credentials": {
        "redis": {
          "id": "nxHHtxVsV0LA34S9",
          "name": "Upstash NoCode StartUp"
        }
      },
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.mensagens",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3080,
        740
      ],
      "id": "0d3ac55b-c82d-4d41-87e5-1334d36757cd",
      "name": "Split Out1",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3400,
        740
      ],
      "id": "fcadf0c0-21c2-404b-afe1-82605b4629d2",
      "name": "Loop Over Items1",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3980,
        1020
      ],
      "id": "f78d8b80-9608-4d5d-ae09-65ac294b9d47",
      "name": "Wait3",
      "webhookId": "33c5308c-6ef7-4028-8fb7-f0f46b8d615d",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3700,
        560
      ],
      "id": "dca2abf4-3ad1-4579-b710-0cc143d1eed0",
      "name": "No Operation, do nothing5",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E090D0114B5E0A30BB16224C1ADB512/token/B9E43315851FA1EBEC24256A/send-text",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{$('Dados Lead').item.json.IdConversa}}"
            },
            {
              "name": "message",
              "value": "={{ $json['output.mensagens'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6fdfcb4a-081c-4d14-bc72-84a2615286e3",
      "name": "(Z-API) Enviar Mensagem4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3720,
        880
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "9ePk0MhLIjDOT3VL",
          "name": "Z-API 323"
        }
      },
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        2860,
        920
      ],
      "id": "22e6d279-2df3-4f23-afec-35f4970f01e9",
      "name": "Auto-fixing Output Parser1",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "AgenteStatus",
        "key": "={{ $('Dados Lead').item.json.IdConversa }}_status",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2440,
        820
      ],
      "id": "042f7a9e-9c9a-444c-aa4d-9c984120b253",
      "name": "Redis",
      "retryOnFail": false,
      "credentials": {
        "redis": {
          "id": "nxHHtxVsV0LA34S9",
          "name": "Upstash NoCode StartUp"
        }
      },
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        400,
        940
      ],
      "id": "0618701b-4882-4b32-b139-c47b17579b92",
      "name": "No Operation, do nothing6",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "756ab323-31a2-4a59-92e8-c2c695027962",
              "leftValue": "={{ $json.AgenteStatus }}",
              "rightValue": "Desativado",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2280,
        820
      ],
      "id": "2033928a-afd3-4889-ab7c-78698f2f69da",
      "name": "Bot Desativado?1",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2760,
        1100
      ],
      "id": "8afc8076-ccd0-4627-8474-d86be111e107",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "Fsp9QkVtvfl2ZEhB",
          "name": "OpenAi account NoCode"
        }
      }
    },
    {
      "parameters": {
        "content": "## Gatilho\nChat Trigger, WhatsApp, Instagram, Telegram, Messenger, etc..",
        "height": 540,
        "width": 340,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3940,
        580
      ],
      "id": "003dffd6-9243-45e1-ae80-cc6621e13ecb",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Variáveis do Fluxo\nCentral de controle do workflow",
        "height": 540,
        "width": 340,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3580,
        580
      ],
      "id": "1154d40c-571b-4df6-95e0-ff6bf1695818",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Filtros Iniciais\nPara evitar que fluxo seja executado quando não queremos",
        "height": 540,
        "width": 340,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3220,
        580
      ],
      "id": "44915917-d60b-4259-ba62-1ad8f9496997",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Dados do Lead\nInformações principais sobre o lead",
        "height": 540,
        "width": 340,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2860,
        580
      ],
      "id": "322704c9-b2ec-41db-91f6-93e7ae882391",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Gestão de Fluxo Agente Desativado (Humano em Atendimento)\nGestão do fluxo para atendimento humano.\n",
        "height": 540,
        "width": 600,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2500,
        580
      ],
      "id": "6bf71f51-6819-4c44-a9fd-a8b4469e9011",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Registro do Lead no banco de dados (Supabase)\nFluxo para adição do lead no banco de dados postgrees supabase.",
        "height": 540,
        "width": 1080,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        980,
        560
      ],
      "id": "e332e1c7-add6-45e8-899a-d8c446955e71",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Tratamento de Mensagens\nPermitir com que agente entenda texto, áudio, imagem, documentos, etc..",
        "height": 1220,
        "width": 1020,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1880,
        240
      ],
      "id": "5dcd99f7-d596-41b2-ad04-1f3673c44297",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## Buffer de Mensagens\nGarantir que agente compreenda todo o contexto das mensagens enviadas pelo usuário antes de formular uma resposta",
        "height": 1220,
        "width": 1440,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -840,
        240
      ],
      "id": "dc506eb3-16ca-4113-8deb-a3dfddbc7193",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## Mensagem para o Agente\nMensagem final do usuário para o agente",
        "height": 540,
        "width": 340,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        620,
        560
      ],
      "id": "6f40cac1-e647-4122-983c-0dba7dd30056",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "## Agente de IA\nAgente inteligente com memória e prompt pré formatado",
        "height": 760,
        "width": 580,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2080,
        480
      ],
      "id": "ef9a7385-b85d-44e0-8502-84b7e8ab87a6",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "## Humanizar Resposta\nQuebra de mensagens em mensagens menores e com contexto.",
        "height": 760,
        "width": 580,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2680,
        480
      ],
      "id": "1a8dd0e3-6ec2-41fc-87ed-9e954eb81576",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "## Envio das Respostas ao Usuário\nEnvio das mensagens quebradas para o usuário",
        "height": 760,
        "width": 900,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3280,
        480
      ],
      "id": "22ffc82d-3957-444e-8cb3-5ed58016bd0b",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "",
        "height": 1340,
        "width": 8220,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4000,
        180
      ],
      "id": "bf170d98-1820-493b-a27a-478d7c503caf",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "content": "-\n# FLUXO MESTRE AGENTE DE IA\n-",
        "height": 140,
        "width": 600,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "c61e8a50-7b54-40df-b927-a200a1648034",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9f488c5c-0b3b-48e9-87b1-5a22d513d1ec",
              "name": "IdConversa",
              "value": "={{ $('Webhook').item.json.body.phone }}",
              "type": "string"
            },
            {
              "id": "69f6217f-9063-423f-abf4-e94f6b70f94e",
              "name": "LeadNome",
              "value": "={{ $('Webhook').item.json.body.senderName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "937a801e-d763-4fc5-b5eb-87699f494d9d",
      "name": "Dados Lead",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2740,
        820
      ],
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "content": "Ajuste o Node Set com os campos relevantes fornecidos.\n",
        "height": 280,
        "width": 210,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2800,
        700
      ],
      "id": "311e3394-5105-476c-a706-91d214fd5f73",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Ajustes os filtros necessários conforme seu gatilho de entrada",
        "height": 280,
        "width": 190,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3140,
        700
      ],
      "id": "2cdc1600-8079-4d53-b76d-d38038b3b47a",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Ajuste tempos de buffer e inatividade do agente conforme necessidade.\n",
        "height": 280,
        "width": 190,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3500,
        700
      ],
      "id": "81cd62aa-0c3b-42b6-8f92-faee514423cc",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "content": "### Tipos de Mensagens\nDefina no node Switch as condicionais para definir cada tipo de mídia de acordo com seu gatilho de entrada de dados.\n\nEm cada Node Set:\nMapeie os campos de cada\ntipo de mensagem corretamente.\n\nObs: Não altere o nome\ndos campos pré existentes\nnos nodes SET",
        "height": 1040,
        "width": 450,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1820,
        380
      ],
      "id": "24312b27-27bb-4198-a556-cbad5675f89a",
      "name": "Sticky Note19"
    },
    {
      "parameters": {
        "content": "Faça os ajustes necessários no Prompt do seu agente",
        "height": 220,
        "width": 330,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2220,
        660
      ],
      "id": "b5f1e4cb-ed28-4b79-b0ee-2ea834530f88",
      "name": "Sticky Note21"
    },
    {
      "parameters": {
        "content": "Ajuste sua instância e autenficiação da Z-API",
        "height": 300,
        "width": 230,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3660,
        780
      ],
      "id": "fa918f45-b10a-4808-9fd3-319913c7022d",
      "name": "Sticky Note22"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2100,
        680
      ],
      "id": "5603d4e1-c3be-419d-a6ed-5fa385d57d2d",
      "name": "No Operation, do nothing",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"mensagens\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  },\n  \"required\": [\"mensagens\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        2960,
        1080
      ],
      "id": "968b4ec2-fec4-44a7-99e3-d6eb29cdd779",
      "name": "Structured Output Parser [Schema]",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5efc6961-1ff7-4ef2-a772-7e9761592a3e",
              "name": "Documento",
              "value": "={{ $('Webhook').item.json.body.document.documentUrl }}",
              "type": "string"
            },
            {
              "id": "003323ec-ffbe-4c91-b8b5-623466b5014d",
              "name": "MensagemDocumento",
              "value": "={{ $('Webhook').item.json.body.document.caption }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1540,
        1040
      ],
      "id": "3e5a9153-b298-4a74-9317-f38278758c11",
      "name": "Mensagem Documento PDF",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3bdce7b6-d0f1-442c-aafd-8cd123aa21b6",
              "name": "EsperaBuffer",
              "value": 15,
              "type": "number"
            },
            {
              "id": "c38e8985-4494-40a4-878e-f25467849842",
              "name": "TempoInatividadeAgente",
              "value": 900,
              "type": "number"
            },
            {
              "id": "ac619a5e-1438-4e19-aaf5-21dfcbc32312",
              "name": "ModeloTemperatura",
              "value": 0.4,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3460,
        820
      ],
      "id": "9a64827c-bb0b-4d11-a79f-9c8c45e93ce0",
      "name": "Parametros Fluxo",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "content": "## Instruções de Uso\n🔴 Áreas em vermelho você deve realizar alterações de acordo com seu canal de entrada;\n🟢 Áreas em verde já estão pré configuradas para o canal do Template, caso vá utilizar outro canal, também fazer devidas alterações nesses nodes;\n\n⚠️ Atenção: \n1. Não altere nome de parâmetros pré-existentes para para evitar quebra do fluxo;\n2. Fique a vontade para adicionar novos parâmetros caso necessário;",
        "height": 220,
        "width": 690,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3940,
        260
      ],
      "id": "13ef202e-04a9-45bc-81a2-a56a3e5331a5",
      "name": "Sticky Note20"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c16412c9-6c9c-4c5b-a641-774481449536",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -3840,
        820
      ],
      "id": "145b9d73-c1eb-44a3-a04a-e0a0f420a46f",
      "name": "Webhook",
      "webhookId": "c16412c9-6c9c-4c5b-a641-774481449536",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "url": "={{ $json.Audio }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1280,
        660
      ],
      "id": "c7ddde32-2e22-4213-bf40-17ecb04cdf87",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "content": "### Tratamento de Mensagens\nCada canal pode nos enviar as informações de diferentes formas e aqui trataremos elas de acordo.\n",
        "height": 1040,
        "width": 450,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1340,
        380
      ],
      "id": "7d05a8b2-68c9-494a-8e6f-31f40a4309df",
      "name": "Sticky Note24"
    },
    {
      "parameters": {
        "url": "={{ $json.Documento }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1280,
        1040
      ],
      "id": "ff854455-6e99-41db-8ce6-df1d72bb6d81",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "content": "![Source example](https://raichu-uploads.s3.amazonaws.com/logo_no-code-start-up_gjespp.png#full-width)\n",
        "width": 160,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4000,
        0
      ],
      "id": "ba736cb2-cb90-476f-821c-fcc8127f9dc3",
      "name": "Sticky Note25"
    },
    {
      "parameters": {
        "content": "![Source example](https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/800px-WhatsApp.svg.png)\n",
        "width": 160,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3820,
        0
      ],
      "id": "eac36302-3f07-4d7a-bafd-e63999d387a4",
      "name": "Sticky Note27"
    },
    {
      "parameters": {
        "content": "![Source example](https://www.z-api.io/wp-content/uploads/2023/10/LOGOTIPO-PRIMARIA-02.png)\n",
        "height": 100,
        "width": 220,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3640,
        60
      ],
      "id": "7e40e3ff-5244-416f-bcc8-d96acb893332",
      "name": "Sticky Note26"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Dados Lead').item.json.IdConversa }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        2320,
        1060
      ],
      "id": "25fcd56e-43c5-438a-979b-d37c8df9d2bb",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "QuX184WBjN2bYZ1g",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<mensagem_do_usuario>\n{{ $json.output }}\n</mensagem_do_usuario>",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "Apenas estruture a <mensagem_do_usuario> no formato JSON solicitado no output parser e seguindo as instruções de formatação abaixo. Não altere nada mais na mensagem\n\n# Formatação\n- Divida as mensagens para que fiquem naturais e humanizadas;\n- Divida as mensagens conforme estrutura do output parser para que não fiquem muito longas (maiores que 240 caractéres);\n- Não separe mensagens vazias;\n- Use quebras de linhas (\\n\\n) após pontos finais;\n- Para negrito (bold) use apenas um '' nunca duas '' (exemplo: *negrito).\n\nExemplo de formato JSON:\n{\n\"mensagens\": [\"Mensagem 0\", \"Mensagem 1\", \"Mensagem 2\"]\n}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        2760,
        740
      ],
      "id": "7fa18136-3a61-4e58-adfc-022a79a5e53a",
      "name": "Basic LLM Chain",
      "retryOnFail": true,
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Essa tool desativa o seu atendimento e passa a conversa para o atendente humano. Após a desativação, você não poderá mais falar com o atentende.\n\nApenas fale sobre a possibilidade de um atendimento humano caso seja explicitamente requisitado esse tipo de atendimento, ou caso o clima da conversa com o usuário ficar muito negativo.\n\nAntes de desativar, reforce para o cliente sobre quais assuntos você pode ajuda-lo e confirme se mesmo assim ele deseja seguir com atendimento humano.\n\nSempre solicite uma dupla confirmação do usuário antes de desativar o seu atendimento.\n\n# Resposta após desativação:\nResponda ao usuário que a conversa foi encaminhada para um atendente especializado que logo irá entrar em contato e dará seguimento ao atendimento.",
        "operation": "set",
        "key": "={{ $('Dados Lead').item.json.IdConversa }}_status",
        "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Value', `Definir como \"Ativo\" ou \"Desativado\"\n\nSempre manter ativo, \nDesativar apenas após dupla confirmação explicita do usuário.`, 'string') }}",
        "expire": true,
        "ttl": "={{ $('Parametros Fluxo').item.json.TempoInatividadeAgente }}"
      },
      "type": "n8n-nodes-base.redisTool",
      "typeVersion": 1,
      "position": [
        2500,
        1040
      ],
      "id": "2d678967-6ed4-4efd-b3cb-ae16ef7bc8ed",
      "name": "DesativarAgente",
      "credentials": {
        "redis": {
          "id": "nxHHtxVsV0LA34S9",
          "name": "Upstash NoCode StartUp"
        }
      },
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "content": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/?utm_source=template-n8n",
        "height": 126,
        "width": 593,
        "color": 7
      },
      "id": "d33eaa2c-c1e5-4768-994d-50dbd55f0f7d",
      "name": "Sticky Note23",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3620,
        1560
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Switch1": {
      "main": [
        [
          {
            "node": "Mensagem Texto1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensagem Audio1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensagem Imagem1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensagem Documento PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensagem Erro1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcrever Áudio1": {
      "main": [
        [
          {
            "node": "Add Audio Buffer1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Add Imagem Buffer1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Buffer 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ComparandoMensagens1": {
      "main": [
        [
          {
            "node": "Apagar Buffer1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem1": {
      "main": [
        [
          {
            "node": "Encontrar Cliente1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Encontrar Cliente1": {
      "main": [
        [
          {
            "node": "Cliente Existe?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cliente Existe?1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Criar Cliente1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Cliente1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buffer ": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buffer 3": {
      "main": [
        [
          {
            "node": "ComparandoMensagens1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Texto Buffer1": {
      "main": [
        [
          {
            "node": "Buffer ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apagar Buffer1": {
      "main": [
        [
          {
            "node": "Mensagem1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro Inicial1": {
      "main": [
        [
          {
            "node": "Dados Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem Texto1": {
      "main": [
        [
          {
            "node": "Add Texto Buffer1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem Audio1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem Imagem1": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Audio Buffer1": {
      "main": [
        [
          {
            "node": "Buffer ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Error Buffer1": {
      "main": [
        [
          {
            "node": "Buffer ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Add PDF Buffer1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem Erro1": {
      "main": [
        [
          {
            "node": "Add Error Buffer1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add PDF Buffer1": {
      "main": [
        [
          {
            "node": "Buffer ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Imagem Buffer1": {
      "main": [
        [
          {
            "node": "Buffer ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "(Z-API) Enviar Mensagem4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "(Z-API) Enviar Mensagem4": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-fixing Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "Bot Desativado?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bot Desativado?1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Auto-fixing Output Parser1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Dados Lead": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser [Schema]": {
      "ai_outputParser": [
        [
          {
            "node": "Auto-fixing Output Parser1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem Documento PDF": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parametros Fluxo": {
      "main": [
        [
          {
            "node": "Filtro Inicial1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Parametros Fluxo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Transcrever Áudio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DesativarAgente": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a4a90d70-f1f9-403a-b3b2-4889cfe91bdc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d78f244cd3be48ad42ae9255698cc5518d09bc1f3330d4dcbf73c2b01febf760"
  },
  "id": "oUSKe6wDd5CHrROF",
  "tags": [
    {
      "createdAt": "2025-04-21T14:50:17.466Z",
      "updatedAt": "2025-04-21T14:50:17.466Z",
      "id": "DIqCiQ7QmXOq3iep",
      "name": "NoCode StartUp"
    }
  ]
}